<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css">
        .fa-square-instagram{
          font-size:50px;

        }
        .fa-youtube{
          font-size:50px;

        }
        .fa-square-whatsapp{
          font-size:50px;

        }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1 class='text-center'>Welcome To NTH Institute</h1>
    {% block nth %}

    {% endblock %}

    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-md-3 bg-dark text-white mt-2">
            <h3 class='text-center'>About Institute: </h3>
            <h6><a href="#">Start your journey with our practical courses. Our courses are built in partnership with technology leaders and are designed to meet IT industry demands.</a></h6>
        </div>
        <div class="col-md-3 bg-dark text-white mt-2">
            <h3 class='text-center'>Our Services:</h3>
            <h6><a href="#">Python Full Stack</a></h6>
            <h6><a href="#">Data Analytics</a></h6>
            <h6><a href="#">Java Full Stack</a></h6>
            <h6><a href="#">AWS</a></h6>
            <h6><a href="#">DevOps</a></h6>
            <h6><a href="#">Azure</a></h6>
            <h6><a href="#">Machine Learning With Python</a></h6>
            <h6><a href="#">Artificial Intelligence</a></h6>
            <h6><a href="#">Cybersecurity</a></h6>
            <h6><a href="#">Microsoft Power BI</a></h6>

        </div>
        <div class="col-md-3 bg-dark text-white mt-2">
          <div class="social-icon">
            <h3 class='text-center'>Social Media:</h3>
            <a href="https://www.instagram.com/asha_7788?igsh=cjBjY2tweDBpYm9x"><span><i class="fa-brands fa-square-instagram"></i></span></a>
            <a href="https://www.youtube.com/@ashashaik3713"><span><i class="fa-brands fa-youtube"></i></span></a>
            <a href="https://wa.me/qr/OBQILNKG7VAFI1"><span><i class="fa-brands fa-square-whatsapp"></i></span></a>
        </div>
        </div>
        <div class="col-md-3 bg-dark text-white mt-2">
            <h3 class='text-center'>Pages:</h3>
            <h6><a href="#">Mainpage</a></h6>
            <h6><a href="#">Homepage</a></h6>
            <h6><a href="#">Contactpage</a></h6>
            <h6><a href="#">Servicespage</a></h6>
            <h6><a href="#">Feedbackpage</a></h6>
            <h6><a href="#">Gallerypage</a></h6>
        </div>
      </div>
    </div>
  </body>
</html>
