{% extends 'base.html' %}
{% load static %}
{% block nth %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="{% static 'images/achievements.jpeg' %}" alt="logo" height="80%" width="90%">
    </div>
    <div class="col-md-3 text-center">
      <img src="{% static 'images/anushka.jpeg' %}" alt="logo" height="80%" width="90%">
    </div>
    <div class="col-md-3 text-center">
      <img src="{% static 'images/kajal.jpeg' %}" alt="logo" height="80%" width="90%">
    </div>
    <div class="col-md-3 text-center">
      <img src="{% static 'images/ram.jpeg' %}" alt="logo" height="80%" width="90%">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="{% static 'images/rashmika.jpeg' %}" alt="logo" height="90%" width="90%">
    </div>
    <div class="col-md-3 text-center">
      <img src="{% static 'images/saipallavi.jpeg' %}" alt="logo" height="90%" width="90%">
    </div>
    <div class="col-md-3 text-center">
      <img src="{% static 'images/samantha.jpeg' %}" alt="logo" height="90%" width="90%">
    </div>
    <div class="col-md-3 text-center">
      <img src="{% static 'images/vijay.jpeg' %}" alt="logo" height="90%" width="90%">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="{% static 'images/trisha.webp' %}" alt="logo" height="60%" width="90%">
    </div>
    <div class="col-md-3 text-center">
      <img src="{% static 'images/prabhas1.jpeg' %}" alt="logo" height="60%" width="90%">
    </div>
    <div class="col-md-3 text-center">
      <img src="{% static 'images/anushka1.jpeg' %}" alt="logo" height="60%" width="90%">
    </div>
    <div class="col-md-3 text-center">
      <img src="{% static 'images/saipallavi.jpeg' %}" alt="logo" height="60%" width="90%">
    </div>
  </div>
</div>
{% endblock %}
