{% extends 'base.html' %}
{% load static %}

{% block nth %}
<h1 class="text-center text-info">Its Comming From Services Page!!! </h1>
<div class="container-fluid text-cente">
  <div class="row">
    <div class="col-md-4  text-center">
    <h1 class="text-center">Mr. Narayana</h1>
      <img src="{% static 'images/vijay.jpeg' %}" alt="image"style="border-radius:5%" height="30%" width="30%" class="img-thumbnail">
    </div>
    <div class="col-md-8 text-black">

      <h5>He is a Developer, Corporate trainer with 13 years+ experience in technology. He has worked on various technologies till now from which Python and Java and Data analytics being his forte. He also provides training to leading tech industries and banks. He has also been a part of various tech talks, discussions, and seminarsHe is a Developer, Corporate trainer with 13 years+ experience in technology.He also provides training to leading tech industries and banks. He has also been a part of various tech talks, discussions, and seminarsHe is a Developer, Corporate trainer with 13 years+ experience in technology.He is a Developer, Corporate trainer with 13 years+ experience in technology.He has worked on various technologies till now from which Python and Java and Data analytics being his forte.He has worked on various technologies till now from which Python and Java and Data analytics being his forte.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8  text-black">
      <h2>About Institute</h2>
      <h5>Start your journey with our practical courses. Our courses are built in partnership with technology leaders and are designed to meet IT industry demands.Start your journey with our practical courses. Our courses are built in partnership with technology leaders and are designed to meet IT industry demands.</h5>

    </div>
    <div class="col-md-4 text-black">

  <img src="{% static 'images/institute.jpeg' %}" alt="fimage" height="80%" width="60%" style="border-radius:5%">
    </div>
  </div>
  </div
<!----cards---->
<div class="container-fluid">
  <h3 class="text-center">Our Team</h3>
  <div class="row">
    <div class="col-md-3 bg-light">
      <div class="card">
        <div class="card-body bg-light text-danger text-center">
          <img src="{% static 'images/trisha.webp' %}" height="15%" width="30%" alt="img">
        </div>
        <div class="card-footer bg-light text-dark text-center">
          <h5>Trisha</h5>
          <h5>Qualification:</h5>
          <h5>B.Tech</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-light">
      <div class="card">
        <div class="card-body bg-light text-danger text-center">
          <img src="{% static 'images/ram.jpeg' %}" height="15%" width="30%" alt="img">
        </div>
        <div class="card-footer bg-light text-dark text-center">
          <h5>Ram</h5>
          <h5>Qualification:</h5>
          <h5>B.Tech</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-light">
      <div class="card">
        <div class="card-body bg-light text-danger text-center">
          <img src="{% static 'images/anushka1.jpeg' %}" height="15%" width="30%" alt="img">
        </div>
        <div class="card-footer bg-light text-dark text-center">
          <h5>Anushka</h5>
          <h5>Qualification:</h5>
          <h5>B.Tech</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-light">
      <div class="card">
        <div class="card-body bg-light text-danger text-center">
          <img src="{% static 'images/ram.jpeg' %}" height="15%" width="30%" alt="img">
        </div>
        <div class="card-footer bg-light text-dark text-center">
          <h5>Ram</h5>
          <h5>Qualification:</h5>
          <h5>B.Tech</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!---achivements--->
<div class="container-fluid">
  <h2 class="text-center">Our Achivements</h2>
  <div class="row">
    <div class="col-md-3 bg-light">
      <div class="card">
        <div class="card-header bg-white text-dark text-center">
          <img src="{% static 'images/saipallavi.jpeg' %}" height="15%" width="30%"" alt="img">
        </div>
        <div class="card-body bg-white text-black text-center">
          <h5>Name: Saipallavi</h5>
          <h5>Company: Wipro</h5>
          <h5>Salary: ₹4.2 LPA</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-light">
      <div class="card" >
        <div class="card-header bg-white text-dark text-center">
          <img src="{% static 'images/kajal.jpeg' %}" height="15%" width="30%"" alt="img">
        </div>
        <div class="card-body bg-white text-black text-center">
          <h5>Name: Kajal</h5>
          <h5>Company: TCS</h5>
          <h5>Salary: ₹4.5 LPA</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-light">
      <div class="card" >
        <div class="card-header bg-white text-dark text-center">
          <img src="{% static 'images/rashmika.jpeg' %}" height="15%" width="30%" alt="flower1">
        </div>
        <div class="card-body bg-white text-black text-center">
          <h5>Name: Rashmika</h5>
          <h5>Company: Infosys</h5>
          <h5>Salary: ₹4.8 LPA</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-light">
      <div class="card" >
        <div class="card-header bg-white text-dark text-center">
          <img src="{% static 'images/anushka.jpeg' %}" height="15%" width="30%" alt="flower1">
        </div>
        <div class="card-body bg-white text-black text-center">
          <h5>Name: Anushka</h5>
          <h5>Company: Infosys</h5>
          <h5>Salary: ₹4.8 LPA</h5>
        </div>
  </div>
</div>
{% endblock %}
